{% extends 'base.html' %} {% block contenido %}
<h1>Todas las Canciones</h1>

<table class="table table-dark table-striped">

    <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Cancion</th>
            <th scope="col">Artista</th>
            <th scope="col">acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for l in lista %}
        <tr>

            <td scope="row">{{ l.foto }}</td>
            <td>{{ l.nombre }}</td>
            <td>{{ l.artista.username }}</td>
            <td>{{ l.archivo }}</td>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="/media/{{ i.archivo }}"></iframe>
            </div>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock contenido %}